<div class="gallery section">
<h1>Portfolio</h1>
<ul class="portfolio">
<li>
    <a href="vox.html">
        <img src="<%= image_path("voxmedia-thumb.jpg") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="megabus.html">
        <img src="<%= image_path("megabus-thumb.png") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="offbeat.html">
        <img src="<%= image_path("offbeat-thumb.jpg") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="muse.html">
        <img src="<%= image_path("muse-thumb.png") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="ysc.html">
        <img src="<%= image_path("ysc-thumb.jpg") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="artallnight.html">
        <img src="<%= image_path("artallnight-thumb.jpg") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="ukrave.html">
        <img src="<%= image_path("ukrave-thumb.png") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="little.html">
        <img src="<%= image_path("littlehouse-thumb.jpg") %>" alt="" class="thumbs"></a>
    </a>
</li>
<li>
    <a href="polygon.html">
        <img src="<%= image_path("polygon-thumb.png") %>" alt="" class="thumbs"></a>
    </a>
</li>
<div class="clear"></div>

</ul>
</div>