---
layout: project
---

<a href="little.html" class="arrows arrows-left">&lsaquo;</a>
<a href="vox.html" class="arrows arrows-right">&rsaquo;</a>
<div class="project section">
<h1>Polygon Features</h1>
<div class="project-image section">
    <img src="<%= image_path("polygon-features.jpg") %>">
</div>
<div class="project-description section">
<strong class="role-title">Role:</strong> 
  <ul class="role">
    <li>Front-end Developer, Designer</li>
    <li>Tyson Whiting: Designer</li>
    <li>Jake Lear: Project Manager</li>
    <li>Jon Douglass: Q/A &amp; Support</li>
  </ul>
<p>As a front-end developer for Vox Media, I spend a lot of time helping design and build out long form feature stories.</p>
</div>
<h3>The rise of the jump</h3>
<div class="project-image section">
    <img src="<%= image_path("jump.jpg") %>">
</div>
<div class="project-image section">
    <img src="<%= image_path("jump.gif") %>">
</div>
<div class="section project-description">
<p>An interactive story about the progression of jumping through video games.</p>
<a class="live" href="http://www.polygon.com/features/2014/1/20/5227582/the-rise-of-the-jump" target="_blank">View live feature!</a>
</div>
<h3>Polygon's PC Buying Guide</h3>
<div class="project-image section">
    <img src="<%= image_path("polygon-pc1.png") %>">
</div>
<div class="project-image section">
    <img src="<%= image_path("pcbg-mobile.jpg") %>">
</div>
<div class="section project-description">
    <p>An in-depth guide to building a custom gaming PC.</p>
</div>
<a class="live" href="http://www.polygon.com/a/pc-buying-guide" target="_blank">View live feature!</a>


</div>

<%= partial 'partials/footer' %>
